In [6]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt

In [7]:
data = pd.read_csv("DataSale.csv",sep=",",header=None)

In [8]:
data.head()

,0,1,2,3,4,5,6,7,8
0,Phoebe Dao,267 Hutt street,BimBim-CBD,Thu Feb 20 2020 20:27:38 GMT+1030 (Australian ...,Delivery,21.80,Minh Tan,Completed,Bank Transfer
1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",BimBim-CBD,Fri Feb 21 2020 07:06:46 GMT+0800 (Singapore S...,Delivery,0.00,Hoang Anh,Cancelled,Bank Transfer
2,Tran Huy Thong,NaN,BimBim-Croydon Park,Fri Feb 21 2020 15:00:47 GMT+0800 (Singapore S...,Pick-up,18.80,Hoang Anh,Completed,Bank Transfer
3,Annie,NaN,BimBim-Athol Park,Fri Feb 21 2020 07:00:50 GMT+1030 (ACDT),Pick-up,15.85,Hoang Anh,Completed,Bank Transfer
4,Phuong,54 Hallet Bvld Allenby Gardens 5009,BimBim-West Croydon,Fri Feb 21 2020 21:40:09 GMT+1030 (ACDT),Delivery,19.70,Hoang Anh,Completed,Bank Transfer

In [9]:
data.columns = ["Name","Address","Shop Name","Time Sale","Sale Type","Total Money","Shipper","Status","Payment Type"]

In [10]:
data.head()

,Name,Address,Shop Name,Time Sale,Sale Type,Total Money,Shipper,Status,Payment Type
0,Phoebe Dao,267 Hutt street,BimBim-CBD,Thu Feb 20 2020 20:27:38 GMT+1030 (Australian ...,Delivery,21.80,Minh Tan,Completed,Bank Transfer
1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",BimBim-CBD,Fri Feb 21 2020 07:06:46 GMT+0800 (Singapore S...,Delivery,0.00,Hoang Anh,Cancelled,Bank Transfer
2,Tran Huy Thong,NaN,BimBim-Croydon Park,Fri Feb 21 2020 15:00:47 GMT+0800 (Singapore S...,Pick-up,18.80,Hoang Anh,Completed,Bank Transfer
3,Annie,NaN,BimBim-Athol Park,Fri Feb 21 2020 07:00:50 GMT+1030 (ACDT),Pick-up,15.85,Hoang Anh,Completed,Bank Transfer
4,Phuong,54 Hallet Bvld Allenby Gardens 5009,BimBim-West Croydon,Fri Feb 21 2020 21:40:09 GMT+1030 (ACDT),Delivery,19.70,Hoang Anh,Completed,Bank Transfer

In [11]:
data["Time Sale"].head()

0    Thu Feb 20 2020 20:27:38 GMT+1030 (Australian ...
1    Fri Feb 21 2020 07:06:46 GMT+0800 (Singapore S...
2    Fri Feb 21 2020 15:00:47 GMT+0800 (Singapore S...
3             Fri Feb 21 2020 07:00:50 GMT+1030 (ACDT)
4             Fri Feb 21 2020 21:40:09 GMT+1030 (ACDT)
Name: Time Sale, dtype: object

In [12]:
data_split = data["Time Sale"].str.split(' ')

In [13]:
data_split.head()

0    [Thu, Feb, 20, 2020, 20:27:38, GMT+1030, (Aust...
1    [Fri, Feb, 21, 2020, 07:06:46, GMT+0800, (Sing...
2    [Fri, Feb, 21, 2020, 15:00:47, GMT+0800, (Sing...
3     [Fri, Feb, 21, 2020, 07:00:50, GMT+1030, (ACDT)]
4     [Fri, Feb, 21, 2020, 21:40:09, GMT+1030, (ACDT)]
Name: Time Sale, dtype: object

In [14]:
data["Date"] = data_split.str.get(2)
data["Month"] = data_split.str.get(1)
data["Year"] = data_split.str.get(3)
data["Time"] = data_split.str.get(4)

In [15]:
data.head()

,Name,Address,Shop Name,Time Sale,Sale Type,Total Money,Shipper,Status,Payment Type,Date,Month,Year,Time
0,Phoebe Dao,267 Hutt street,BimBim-CBD,Thu Feb 20 2020 20:27:38 GMT+1030 (Australian ...,Delivery,21.80,Minh Tan,Completed,Bank Transfer,20,Feb,2020,20:27:38
1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",BimBim-CBD,Fri Feb 21 2020 07:06:46 GMT+0800 (Singapore S...,Delivery,0.00,Hoang Anh,Cancelled,Bank Transfer,21,Feb,2020,07:06:46
2,Tran Huy Thong,NaN,BimBim-Croydon Park,Fri Feb 21 2020 15:00:47 GMT+0800 (Singapore S...,Pick-up,18.80,Hoang Anh,Completed,Bank Transfer,21,Feb,2020,15:00:47
3,Annie,NaN,BimBim-Athol Park,Fri Feb 21 2020 07:00:50 GMT+1030 (ACDT),Pick-up,15.85,Hoang Anh,Completed,Bank Transfer,21,Feb,2020,07:00:50
4,Phuong,54 Hallet Bvld Allenby Gardens 5009,BimBim-West Croydon,Fri Feb 21 2020 21:40:09 GMT+1030 (ACDT),Delivery,19.70,Hoang Anh,Completed,Bank Transfer,21,Feb,2020,21:40:09

In [16]:
data_new = data.drop(["Time Sale"],axis=1)

In [17]:
data_NaN = data_new.dropna()
data_NaN.head()

,Name,Address,Shop Name,Sale Type,Total Money,Shipper,Status,Payment Type,Date,Month,Year,Time
0,Phoebe Dao,267 Hutt street,BimBim-CBD,Delivery,21.8,Minh Tan,Completed,Bank Transfer,20,Feb,2020,20:27:38
1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",BimBim-CBD,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,21,Feb,2020,07:06:46
4,Phuong,54 Hallet Bvld Allenby Gardens 5009,BimBim-West Croydon,Delivery,19.7,Hoang Anh,Completed,Bank Transfer,21,Feb,2020,21:40:09
5,Nancy,Unit5/77 cowan street,BimBim-Athol Park,Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,21,Feb,2020,04:30:00
6,Hari Đoàn,"227 hanson road, athol park Sa 5012",BimBim-Athol Park,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,23,Feb,2020,18:00:00

In [18]:
data_NaN = data_NaN.drop(["level_0"],axis=1)

KeyError: "['level_0'] not found in axis"

In [ ]:
data_NaN.head()

In [ ]:
data_NaN = data_NaN.drop(["index"],axis=1)

In [ ]:
data_NaN.head()

In [ ]:
status_data = pd.DataFrame()
address_split = data_new["Address"].str.split(' ')

In [ ]:
address_split.head()

In [ ]:
data_NaN["Time Series"] = data_NaN["Date"] + " " + data_NaN["Month"] + " " + data_NaN["Year"]

In [19]:
data_NaN.head()

,Name,Address,Shop Name,Sale Type,Total Money,Shipper,Status,Payment Type,Date,Month,Year,Time
0,Phoebe Dao,267 Hutt street,BimBim-CBD,Delivery,21.8,Minh Tan,Completed,Bank Transfer,20,Feb,2020,20:27:38
1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",BimBim-CBD,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,21,Feb,2020,07:06:46
4,Phuong,54 Hallet Bvld Allenby Gardens 5009,BimBim-West Croydon,Delivery,19.7,Hoang Anh,Completed,Bank Transfer,21,Feb,2020,21:40:09
5,Nancy,Unit5/77 cowan street,BimBim-Athol Park,Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,21,Feb,2020,04:30:00
6,Hari Đoàn,"227 hanson road, athol park Sa 5012",BimBim-Athol Park,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,23,Feb,2020,18:00:00

In [20]:
data_NaN = data_NaN.drop(["Date"],axis=1)
data_NaN = data_NaN.drop(["Month"],axis=1)
data_Nan = data_NaN.drop(["Year"],axis=1)

In [21]:
data_NaN.head()

,Name,Address,Shop Name,Sale Type,Total Money,Shipper,Status,Payment Type,Year,Time
0,Phoebe Dao,267 Hutt street,BimBim-CBD,Delivery,21.8,Minh Tan,Completed,Bank Transfer,2020,20:27:38
1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",BimBim-CBD,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,2020,07:06:46
4,Phuong,54 Hallet Bvld Allenby Gardens 5009,BimBim-West Croydon,Delivery,19.7,Hoang Anh,Completed,Bank Transfer,2020,21:40:09
5,Nancy,Unit5/77 cowan street,BimBim-Athol Park,Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,2020,04:30:00
6,Hari Đoàn,"227 hanson road, athol park Sa 5012",BimBim-Athol Park,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,2020,18:00:00

In [22]:
data_NaN = data_NaN.drop(["Year"],axis=1)

In [23]:
data_NaN.head()

,Name,Address,Shop Name,Sale Type,Total Money,Shipper,Status,Payment Type,Time
0,Phoebe Dao,267 Hutt street,BimBim-CBD,Delivery,21.8,Minh Tan,Completed,Bank Transfer,20:27:38
1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",BimBim-CBD,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,07:06:46
4,Phuong,54 Hallet Bvld Allenby Gardens 5009,BimBim-West Croydon,Delivery,19.7,Hoang Anh,Completed,Bank Transfer,21:40:09
5,Nancy,Unit5/77 cowan street,BimBim-Athol Park,Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,04:30:00
6,Hari Đoàn,"227 hanson road, athol park Sa 5012",BimBim-Athol Park,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,18:00:00

In [24]:
data_NaN["Shop Name"].str.split("-")

0                         [BimBim, CBD]
1                         [BimBim, CBD]
4                [BimBim, West Croydon]
5                  [BimBim, Athol Park]
6                  [BimBim, Athol Park]
                     ...
157    [Vietnamese Dessert, Pennington]
158                [BimBim, Pennington]
159                  [BimBim, Prospect]
161       [JC's TakeAway, Croydon Park]
162              [BimBim, Croydon Park]
Name: Shop Name, Length: 142, dtype: object

In [25]:
data_NaN.head()

,Name,Address,Shop Name,Sale Type,Total Money,Shipper,Status,Payment Type,Time
0,Phoebe Dao,267 Hutt street,BimBim-CBD,Delivery,21.8,Minh Tan,Completed,Bank Transfer,20:27:38
1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",BimBim-CBD,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,07:06:46
4,Phuong,54 Hallet Bvld Allenby Gardens 5009,BimBim-West Croydon,Delivery,19.7,Hoang Anh,Completed,Bank Transfer,21:40:09
5,Nancy,Unit5/77 cowan street,BimBim-Athol Park,Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,04:30:00
6,Hari Đoàn,"227 hanson road, athol park Sa 5012",BimBim-Athol Park,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,18:00:00

In [26]:
#data_NaN["Shop Suburb"] = data_NaN["Shop Name"].str.get(1)
#data_NaN["Type Shop"] = data_NaN["Shop Name"].str.
#data_NaN = data_NaN.drop(["Shop Name"],axis=1)
data.head()
shopSplit = data["Shop Name"].str.split("-")

In [27]:
data_NaN["Shop Suburb"] = shopSplit.str.get(1)
data_NaN["Type Shop"] = shopSplit.str.get(0)

In [34]:
data_NaN
data_NaN = data_NaN.drop(["Shop Name"],axis=1)

In [29]:
data.head()

,Name,Address,Shop Name,Time Sale,Sale Type,Total Money,Shipper,Status,Payment Type,Date,Month,Year,Time
0,Phoebe Dao,267 Hutt street,BimBim-CBD,Thu Feb 20 2020 20:27:38 GMT+1030 (Australian ...,Delivery,21.80,Minh Tan,Completed,Bank Transfer,20,Feb,2020,20:27:38
1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",BimBim-CBD,Fri Feb 21 2020 07:06:46 GMT+0800 (Singapore S...,Delivery,0.00,Hoang Anh,Cancelled,Bank Transfer,21,Feb,2020,07:06:46
2,Tran Huy Thong,NaN,BimBim-Croydon Park,Fri Feb 21 2020 15:00:47 GMT+0800 (Singapore S...,Pick-up,18.80,Hoang Anh,Completed,Bank Transfer,21,Feb,2020,15:00:47
3,Annie,NaN,BimBim-Athol Park,Fri Feb 21 2020 07:00:50 GMT+1030 (ACDT),Pick-up,15.85,Hoang Anh,Completed,Bank Transfer,21,Feb,2020,07:00:50
4,Phuong,54 Hallet Bvld Allenby Gardens 5009,BimBim-West Croydon,Fri Feb 21 2020 21:40:09 GMT+1030 (ACDT),Delivery,19.70,Hoang Anh,Completed,Bank Transfer,21,Feb,2020,21:40:09

In [35]:
data_NaN.head()

,Name,Address,Sale Type,Total Money,Shipper,Status,Payment Type,Time,Shop Suburb,Type Shop
0,Phoebe Dao,267 Hutt street,Delivery,21.8,Minh Tan,Completed,Bank Transfer,20:27:38,CBD,BimBim
1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,07:06:46,CBD,BimBim
4,Phuong,54 Hallet Bvld Allenby Gardens 5009,Delivery,19.7,Hoang Anh,Completed,Bank Transfer,21:40:09,West Croydon,BimBim
5,Nancy,Unit5/77 cowan street,Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,04:30:00,Athol Park,BimBim
6,Hari Đoàn,"227 hanson road, athol park Sa 5012",Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,18:00:00,Athol Park,BimBim

In [37]:
data_NaN.to_csv("Data_NaN.csv",index=True)

In [38]:
data_saleType = data_NaN[["Name","Sale Type","Status","Shop Suburb","Type Shop"]]

In [39]:
data_saleType.head()

             Name Sale Type     Status   Shop Suburb Type Shop
0      Phoebe Dao  Delivery  Completed           CBD    BimBim
1  Tran Huy Thong  Delivery  Cancelled           CBD    BimBim
4         Phuong   Delivery  Completed  West Croydon    BimBim
5           Nancy   Pick-up  Cancelled    Athol Park    BimBim
6       Hari Đoàn  Delivery  Cancelled    Athol Park    BimBim

In [54]:
address_list = data_NaN["Address"].str.split(" ")

In [63]:
import re
suburb = []
for i in data_NaN["Address"]:
    x = re.findall("50..",i)
    suburb.append(x)

In [64]:
suburb

[[],
 ['5033'],
 ['5009'],
 [],
 ['5012'],
 ['5013'],
 [],
 [],
 [],
 ['5083'],
 [],
 [],
 ['5008'],
 ['5012'],
 [],
 [],
 [],
 [],
 [],
 ['5010'],
 [],
 ['5000'],
 ['5082'],
 ['5082'],
 ['5082'],
 [],
 ['5008'],
 ['5000'],
 [],
 [],
 [],
 ['5008'],
 ['5010'],
 ['5000'],
 ['5000'],
 ['5010'],
 ['5010'],
 ['5065'],
 [],
 [],
 [],
 [],
 [],
 [],
 ['5010'],
 ['5000'],
 [],
 [],
 [],
 [],
 ['5000'],
 [],
 ['5061'],
 [],
 [],
 [],
 ['5011'],
 ['5011'],
 ['5000'],
 [],
 [],
 [],
 ['5034'],
 ['5083'],
 [],
 [],
 [],
 [],
 [],
 [],
 ['5000'],
 [],
 [],
 [],
 ['5012'],
 ['5007'],
 [],
 [],
 [],
 ['5082'],
 [],
 [],
 [],
 ['5082'],
 ['5010'],
 ['5007'],
 [],
 ['5007'],
 [],
 ['5033'],
 ['5013'],
 ['5013'],
 [],
 ['5033'],
 ['5008'],
 [],
 [],
 ['5075'],
 ['5000'],
 ['5010'],
 ['5000'],
 [],
 [],
 ['5010'],
 ['5000'],
 ['5082'],
 [],
 [],
 [],
 [],
 ['5012'],
 ['5006'],
 ['5035'],
 [],
 [],
 ['5082'],
 ['5082'],
 ['5000'],
 [],
 [],
 [],
 [],
 ['5098'],
 ['5085'],
 ['5023'],
 [],
 [],
 ['5075'],
 ['5084'],
 [],
 [],
 [],
 ['5082'],
 ['5016'],
 ['5012'],
 ['5016'],
 [],
 ['5075'],
 ['5007'],
 ['5023'],
 ['5000'],
 []]

In [65]:
data_NaN["Suburb Address"] = suburb

In [66]:
data_NaN.head()

,Name,Address,Sale Type,Total Money,Shipper,Status,Payment Type,Time,Shop Suburb,Type Shop,Suburb Address
0,Phoebe Dao,267 Hutt street,Delivery,21.8,Minh Tan,Completed,Bank Transfer,20:27:38,CBD,BimBim,[]
1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,07:06:46,CBD,BimBim,[5033]
4,Phuong,54 Hallet Bvld Allenby Gardens 5009,Delivery,19.7,Hoang Anh,Completed,Bank Transfer,21:40:09,West Croydon,BimBim,[5009]
5,Nancy,Unit5/77 cowan street,Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,04:30:00,Athol Park,BimBim,[]
6,Hari Đoàn,"227 hanson road, athol park Sa 5012",Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,18:00:00,Athol Park,BimBim,[5012]

In [118]:
data_NaN["Date"] = data["Date"] + "/" + data["Month"] + "/" + data["Year"]

In [119]:
data.head()

,Name,Address,Shop Name,Time Sale,Sale Type,Total Money,Shipper,Status,Payment Type,Date,Month,Year,Time
0,Phoebe Dao,267 Hutt street,BimBim-CBD,Thu Feb 20 2020 20:27:38 GMT+1030 (Australian ...,Delivery,21.80,Minh Tan,Completed,Bank Transfer,20,Feb,2020,20:27:38
1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",BimBim-CBD,Fri Feb 21 2020 07:06:46 GMT+0800 (Singapore S...,Delivery,0.00,Hoang Anh,Cancelled,Bank Transfer,21,Feb,2020,07:06:46
2,Tran Huy Thong,NaN,BimBim-Croydon Park,Fri Feb 21 2020 15:00:47 GMT+0800 (Singapore S...,Pick-up,18.80,Hoang Anh,Completed,Bank Transfer,21,Feb,2020,15:00:47
3,Annie,NaN,BimBim-Athol Park,Fri Feb 21 2020 07:00:50 GMT+1030 (ACDT),Pick-up,15.85,Hoang Anh,Completed,Bank Transfer,21,Feb,2020,07:00:50
4,Phuong,54 Hallet Bvld Allenby Gardens 5009,BimBim-West Croydon,Fri Feb 21 2020 21:40:09 GMT+1030 (ACDT),Delivery,19.70,Hoang Anh,Completed,Bank Transfer,21,Feb,2020,21:40:09

In [120]:
data_NaN.head()

,Name,Address,Sale Type,Total Money,Shipper,Status,Payment Type,Time,Shop Suburb,Type Shop,Suburb Address,Date
0,Phoebe Dao,267 Hutt street,Delivery,21.8,Minh Tan,Completed,Bank Transfer,20:27:38,CBD,BimBim,[],20/Feb/2020
1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,07:06:46,CBD,BimBim,[5033],21/Feb/2020
4,Phuong,54 Hallet Bvld Allenby Gardens 5009,Delivery,19.7,Hoang Anh,Completed,Bank Transfer,21:40:09,West Croydon,BimBim,[5009],21/Feb/2020
5,Nancy,Unit5/77 cowan street,Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,04:30:00,Athol Park,BimBim,[],21/Feb/2020
6,Hari Đoàn,"227 hanson road, athol park Sa 5012",Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,18:00:00,Athol Park,BimBim,[5012],23/Feb/2020

In [128]:
cancel_Sell = data_NaN.loc[data_NaN["Status"] == "Cancelled"]
cancel_Sell.reset_index()

,index,Name,Address,Sale Type,Total Money,Shipper,Status,Payment Type,Time,Shop Suburb,Type Shop,Suburb Address,Date
0,1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,07:06:46,CBD,BimBim,[5033],21/Feb/2020
1,5,Nancy,Unit5/77 cowan street,Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,04:30:00,Athol Park,BimBim,[],21/Feb/2020
2,6,Hari Đoàn,"227 hanson road, athol park Sa 5012",Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,18:00:00,Athol Park,BimBim,[5012],23/Feb/2020
3,10,Nicole Nguyen,"163 Days Road, Regency Park,SA,",Pick-up,0.0,Minh Tan,Cancelled,Bank Transfer,19:33:40,Croydon Park,BimBim,[],23/Feb/2020
4,13,GIANG BUI,"46 Hampstead Road, Broadview 5083 SA",Delivery,0.0,Minh Tan,Cancelled,Bank Transfer,14:58:54,Woodville,BimBim,[5083],27/Feb/2020
5,16,Lien nguyen,70 hooking tce- woodville garrdend,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,18:10:08,Woodville North,BimBim,[],27/Feb/2020
6,19,Hồ Vy,Eynesbury college Franklin St,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,15:35:00,CBD,BimBim,[],28/Feb/2020
7,20,Hồ Vy,Eynesbury college Franklin st,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,19:45:54,CBD,BimBim,[],27/Feb/2020
8,23,Duyen Tran,5 Balranald Street,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,16:05:13,West Croydon,BimBim,[],28/Feb/2020
9,27,Vy,518 Prospect Road Kilburn 5082,Delivery,0.0,Minh Tan,Cancelled,Bank Transfer,18:02:47,CBD,BimBim,[5082],28/Feb/2020
10,28,Vy,518 Prospect Road killburn 5082,Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,18:27:08,CBD,BimBim,[5082],28/Feb/2020
11,29,Vy,518 Prospect Road killburn 5082,Delivery,0.0,Minh Tan,Cancelled,Bank Transfer,19:08:21,CBD,BimBim,[5082],28/Feb/2020
12,34,Lien nguyen,70 hooking tce- woodville gardens,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,17:21:00,Woodville North,BimBim,[],05/Mar/2020
13,35,Vinh gâu gâu,Rundle Mall,Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,18:14:00,CBD,BimBim,[],05/Mar/2020
14,41,Duyen Tran,5 Balranald Street Ferryden Park 5010,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,15:08:13,Croydon Park,BimBim,[5010],06/Mar/2020
15,42,Duyen Tran,5 Balranald Street Ferryden Park 5010,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,15:30:43,Croydon Park,BimBim,[5010],06/Mar/2020
16,43,Xuan Nguyen,"1A Devereux road, Linden Park, SA 5065",Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,05:59:00,CBD,BimBim,[5065],06/Mar/2020
17,44,Thuan,Ferryden park,Pick-up,0.0,Minh Tan,Cancelled,Bank Transfer,05:00:00,Ferryden Park,BimBim,[],07/Mar/2020
18,61,Trang,46/87 mary st unley park sa 5061,Delivery,0.0,Minh Tan,Cancelled,Bank Transfer,21:00:00,CBD,BimBim,[5061],12/Mar/2020
19,62,Miran,160 Rundle mall,Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,12:55:44,CBD,BimBim,[],13/Mar/2020
20,71,Danh Tran,"9 Cleve Street, Mansfield Park",Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,14:30:40,Mansfield Park,BimBim,[],19/Mar/2020
21,74,Dong Lam Bao Ngoc,"89 Greenhill road, Wayville, 5034",Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,18:30:03,CBD,I Love My Family,[5034],19/Mar/2020
22,91,Huy,304 Waymouth Street,Pick-up,0.0,Anto,Cancelled,Bank Transfer,15:30:55,CBD,BimBim,[],21/Mar/2020
23,93,Kathy Bui,"7 Cleve Street, Mansfield Park",Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,22:15:29,Mansfield Park,BimBim,[],21/Mar/2020
24,108,Kim,81a Addison rd pennington 5013,Delivery,0.0,Minh Tan,Cancelled,Bank Transfer,19:00:00,Woodville,BimBim,[5013],27/Mar/2020
25,116,Duyen Tran,5 Balranald Street Ferryden Park 5010,Delivery,0.0,Minh Tan,Cancelled,Cash,16:45:00,CBD,BimBim,[5010],02/Apr/2020
26,119,Ly,21A Willcox street,Pick-up,0.0,Hoang Anh,Cancelled,Cash,18:45:28,CBD,BimBim,[],02/Apr/2020
27,123,Trang,18 Resthaven road Parafield garden,Delivery,0.0,Anto,Cancelled,Bank Transfer,21:45:00,Prospect,BimBim,[],02/Apr/2020
28,133,Rachel VAN,"31A Braund Road, Fitzroy, Prospect 5082",Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,16:00:00,Prospect,BimBim,[5082],10/Apr/2020
29,150,Tran Le Quynh Nhu,"105 Arthur Street,Pennington,SA",Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,15:30:00,Pennington,BimBim,[],11/Apr/2020
30,154,Thi Van Hoang,"236 Lady Gowrie Drive, Largs North, SA 5012",Delivery,0.0,Minh Tan,Cancelled,Bank Transfer,16:00:40,Pennington,Vietnamese Dessert,[5012],16/Apr/2020
31,155,Thi Van Hoang,"236 Lady Gowrie Drive, Largs North, SA 5016",Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,16:00:00,Pennington,BimBim,[5016],16/Apr/2020
32,158,V,303/47 fifth street bowden 5007,Delivery,0.0,Minh Tan,Cancelled,Bank Transfer,16:18:21,Pennington,BimBim,[5007],16/Apr/2020

In [129]:
complete_Sell = data_NaN.loc[data_NaN["Status"] == "Completed"]
complete_Sell.reset_index()

,index,Name,Address,Sale Type,Total Money,Shipper,Status,Payment Type,Time,Shop Suburb,Type Shop,Suburb Address,Date
0,0,Phoebe Dao,267 Hutt street,Delivery,21.80,Minh Tan,Completed,Bank Transfer,20:27:38,CBD,BimBim,[],20/Feb/2020
1,4,Phuong,54 Hallet Bvld Allenby Gardens 5009,Delivery,19.70,Hoang Anh,Completed,Bank Transfer,21:40:09,West Croydon,BimBim,[5009],21/Feb/2020
2,7,Thanh Pham,"9 Booker Ct, Pennington, SA 5013",Delivery,31.70,Minh Tan,Completed,Bank Transfer,18:59:08,Athol Park,BimBim,[5013],21/Feb/2020
3,11,Nicole Nguyen,163 Days Road,Delivery,32.60,Minh Tan,Completed,Bank Transfer,20:30:00,Croydon Park,BimBim,[],23/Feb/2020
4,12,Duyên,Ferryden park,Pick-up,16.85,Hoang Anh,Completed,Bank Transfer,14:01:20,West Croydon,BimBim,[],27/Feb/2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,156,Gia Bảo,"4a jaffrey st , Blair Athol",Delivery,12.85,Hoang Anh,Completed,Bank Transfer,16:00:42,Pennington,BimBim,[],16/Apr/2020
105,157,Kim Linh,19D Gameau Road Paradise SA 5075,Delivery,5.00,Hoang Anh,Completed,Bank Transfer,16:00:42,Pennington,Vietnamese Dessert,[5075],16/Apr/2020
106,159,Quế Minh Trần,"10 Warner Avenue, Findon SA 5023",Delivery,19.75,Hoang Anh,Completed,Bank Transfer,15:21:32,Prospect,BimBim,[5023],16/Apr/2020
107,161,Heidi,"Unit 26/131 Gray street, Adelaide, SA 5000",Delivery,15.00,Hoang Anh,Completed,Bank Transfer,19:00:48,Croydon Park,JC's TakeAway,[5000],16/Apr/2020
108,162,Han,"64 Overland Road, Croydon Park",Delivery,13.90,Hoang Anh,Completed,Bank Transfer,18:13:34,Croydon Park,BimBim,[],16/Apr/2020

In [130]:
complete_Sell.to_csv("Complete_Sell.csv",index = False)
cancel_Sell.to_csv("Cancel_Sell.csv", index = False)

In [132]:
complete_Sell = complete_Sell.drop(["Address"],axis=1)
cancel_Sell = cancel_Sell.drop(["Address"],axis=1)

In [133]:
complete_Sell = complete_Sell.drop(["Suburb Address"],axis=1)
cancel_Sell = cancel_Sell.drop(["Suburb Address"],axis=1)

In [135]:

cancel_Sell.head()

,Name,Sale Type,Total Money,Shipper,Status,Payment Type,Time,Shop Suburb,Type Shop,Date
1,Tran Huy Thong,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,07:06:46,CBD,BimBim,21/Feb/2020
5,Nancy,Pick-up,0.0,Hoang Anh,Cancelled,Bank Transfer,04:30:00,Athol Park,BimBim,21/Feb/2020
6,Hari Đoàn,Delivery,0.0,Hoang Anh,Cancelled,Bank Transfer,18:00:00,Athol Park,BimBim,23/Feb/2020
10,Nicole Nguyen,Pick-up,0.0,Minh Tan,Cancelled,Bank Transfer,19:33:40,Croydon Park,BimBim,23/Feb/2020
13,GIANG BUI,Delivery,0.0,Minh Tan,Cancelled,Bank Transfer,14:58:54,Woodville,BimBim,27/Feb/2020

In [136]:
complete_Sell.head()

,Name,Sale Type,Total Money,Shipper,Status,Payment Type,Time,Shop Suburb,Type Shop,Date
0,Phoebe Dao,Delivery,21.80,Minh Tan,Completed,Bank Transfer,20:27:38,CBD,BimBim,20/Feb/2020
4,Phuong,Delivery,19.70,Hoang Anh,Completed,Bank Transfer,21:40:09,West Croydon,BimBim,21/Feb/2020
7,Thanh Pham,Delivery,31.70,Minh Tan,Completed,Bank Transfer,18:59:08,Athol Park,BimBim,21/Feb/2020
11,Nicole Nguyen,Delivery,32.60,Minh Tan,Completed,Bank Transfer,20:30:00,Croydon Park,BimBim,23/Feb/2020
12,Duyên,Pick-up,16.85,Hoang Anh,Completed,Bank Transfer,14:01:20,West Croydon,BimBim,27/Feb/2020

In [137]:
data.head()

,Name,Address,Shop Name,Time Sale,Sale Type,Total Money,Shipper,Status,Payment Type,Date,Month,Year,Time
0,Phoebe Dao,267 Hutt street,BimBim-CBD,Thu Feb 20 2020 20:27:38 GMT+1030 (Australian ...,Delivery,21.80,Minh Tan,Completed,Bank Transfer,20,Feb,2020,20:27:38
1,Tran Huy Thong,"90 Bagot Avenue, Cowandilla 5033",BimBim-CBD,Fri Feb 21 2020 07:06:46 GMT+0800 (Singapore S...,Delivery,0.00,Hoang Anh,Cancelled,Bank Transfer,21,Feb,2020,07:06:46
2,Tran Huy Thong,NaN,BimBim-Croydon Park,Fri Feb 21 2020 15:00:47 GMT+0800 (Singapore S...,Pick-up,18.80,Hoang Anh,Completed,Bank Transfer,21,Feb,2020,15:00:47
3,Annie,NaN,BimBim-Athol Park,Fri Feb 21 2020 07:00:50 GMT+1030 (ACDT),Pick-up,15.85,Hoang Anh,Completed,Bank Transfer,21,Feb,2020,07:00:50
4,Phuong,54 Hallet Bvld Allenby Gardens 5009,BimBim-West Croydon,Fri Feb 21 2020 21:40:09 GMT+1030 (ACDT),Delivery,19.70,Hoang Anh,Completed,Bank Transfer,21,Feb,2020,21:40:09

In [139]:
complete_Sell["index"] = range(len(complete_Sell))

In [140]:
complete_Sell.head()

,Name,Sale Type,Total Money,Shipper,Status,Payment Type,Time,Shop Suburb,Type Shop,Date,index
0,Phoebe Dao,Delivery,21.80,Minh Tan,Completed,Bank Transfer,20:27:38,CBD,BimBim,20/Feb/2020,0
4,Phuong,Delivery,19.70,Hoang Anh,Completed,Bank Transfer,21:40:09,West Croydon,BimBim,21/Feb/2020,1
7,Thanh Pham,Delivery,31.70,Minh Tan,Completed,Bank Transfer,18:59:08,Athol Park,BimBim,21/Feb/2020,2
11,Nicole Nguyen,Delivery,32.60,Minh Tan,Completed,Bank Transfer,20:30:00,Croydon Park,BimBim,23/Feb/2020,3
12,Duyên,Pick-up,16.85,Hoang Anh,Completed,Bank Transfer,14:01:20,West Croydon,BimBim,27/Feb/2020,4

In [141]:
cancel_Sell["index"] = range(len(cancel_Sell))

In [142]:
complete_Sell.to_csv("Complete_Sell.csv",index = False)
cancel_Sell.to_csv("Cancel_Sell.csv", index = False)